/* CSS Document */

body{ background-color:  #aaa9a9; font:"FFF Harmony"; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#000000} 

A:link {text-decoration: none; color: #990000}
A:visited {text-decoration: none; color: #990000}
A:active {text-decoration: none; color: #990000}
A:hover {text-decoration: none; color: #d26413}


