/* GENERAL */

#competition {
	text-indent:-9999em;
	background:url( promo/compo_ricochet.jpg ) no-repeat;
	height:140px;
	display:block;
	margin:5px 8px;
}

#promo h3 {
	display:block;
	height:40px;
	margin:0; padding:0;
	text-indent:-9999em;
	text-decoration:none;
}

#promo li {
	margin:0 0 4px 0;
	padding:0 0 4px 0!important;
	list-style-type:none;
}

#promo li ul {
	margin:8px 0 4px 0;
}

#promo li li {
	margin:0 0 0 6px;
	padding:0 0 4px 18px !important;
	background:transparent url( images/bullet_green.gif ) 0 2px no-repeat;
	list-style-type:none;
}

#promo p {
	margin:4px 4px 0 4px;
	color:#666;
}

ul#promo {
	margin:0;
	list-style-type:none;
}

/* HOME PAGE CSS */

#promo.col.four {
	background:#f5f5f5;
	margin:0 0 5px 0;
}

#promo.col.four li {
	clear:none;
}

/* BINARY SUN */

li#binary-sun {
	background:url( promo/binary-sun.gif ) no-repeat top #f5f5f5;
	padding:4px 4px 8px 4px;
	margin:0 0 8px 0;
}

#binary-sun a {
	color:#257;
}

#binary-sun strong {
	color:#000;
}

/* JOIN US */

li#join-us {
	background:url( promo/join-us.gif ) no-repeat top #f5f5f5;
	padding:4px 4px 0 4px;
	margin:0 0 8px 0;
}

/* TEXT LINK ADS */
li#tla {
	background:url( promo/sponsors.gif ) no-repeat top #f5f5f5;
	padding:4px 4px 0 4px;
	margin:0 0 8px 0;
}

/* RECENT COMMENTS */
li#recent-comments {
	background:url( promo/recentComments.gif ) no-repeat top #f5f5f5;
	padding:4px 4px 0 4px;
	margin:0 0 8px 0;
}

/* SUBSCRIBE */
li#subscribeButton {
	padding:0 !important;
	
}

li#subscribeButton a {
	display:block;
	width:180px;
	height:40px;
	text-indent:-9999em;
	text-decoration:none;
	background: url( images/subscribeNow.png );
}


li#subscribe {
	background:url( promo/subscribe.gif ) no-repeat top #f5f5f5;
	padding:4px 4px 0 4px;
	margin:0 0 8px 0;
}

li#subscribe li {
	padding:0 !important;
	margin:0 0 2px 0;
	background:none;
}

li#subscribe ul {
	padding:0;
	margin:12px 8px 8px 8px;
	background:none;
}

li#subscribe li a {
	display:block;
	padding:2px 2px 2px 24px;
	background:url( images/feed.gif ) no-repeat 2px center;
}

li#subscribe li a:hover {
	background-color:#fff;
}

#promo.col.four {
	background:#f5f5f5 url( images/bg_minor2.gif ) left top;
	background:#f5f5f5;
}

li#binary-sun.col, li#join-us.col, li#tla.col, li#subscribe.col {
	background-color:transparent;
}

